body {
  font-family: sans-serif;
  background-image:url(https://www.progamer.ru/uploads/2015/08/jap-pix-1.gif);
}

header {
  background-color:red;
  padding: 40px 0px 40px 25px;
  border: 3px red solid;
  border-radius: 10px ;
}

.link-header {
  border: white 5px solid;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 36px;
  text-decoration: none;
  color: white;
}

nav {
  padding: 35px 40px 0px 40px;
}

.link-nav {
  color: black;
  font-size: 24px;
  margin-right: 35px;
  text-decoration: none;
  border-bottom: 2px solid black;
}

h1 {
  text-align: center;
  color: Magenta;
  font-size: 80px;
  border: Yellow 8px solid;
  border-radius: 10px;
}

p {
  font-size: 24px;
  margin-left: 60px;
  color: rgba(255, 0, 0, 0.5)
}

ul {
  font-size: 24px;
  margin-left: 60px;
}

li {
  margin-bottom: 20px;
    color: rgb(255, 230, 0)
}

ol {
  font-size: 24px;
  margin-left: 60px;
}

.text-big {
  font-size: 48px;
  margin-left: 60px;
}
  
.link-text {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid blue;
}

h2 {
  color: #006363;
  font-size: 64px;
}

footer {
  padding: 65px 0px 80px 80px;
  background: 
      repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
        rgba(255, 153, 0, 0.5) 80px, rgba(255, 255, 0, 0.5) 120px,
        rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
        rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px,
        rgba(255, 0, 0, 0.5) 300px),
      repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
        rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
        rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
        rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
        rgba(255, 0, 0, 0.5) 230px),
      repeating-linear-gradient(23deg, red 50px, orange 100px,
        yellow 150px, green 200px, blue 250px,
        indigo 300px, violet 350px, red 370px);
  margin: 30px 0px 10px 0px;
}

.social {
  margin-right: 60px;
}

div img{
  width: 33%;
}

.characters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  border: 5px Chocolate solid;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px black;
}
